__all_results__/
__ignore__/
__pycache__/
__notebooks__/
__paper__/
__things_to_save__/
__sota_forks__/
__deprecated__/
local_config.py
.DS_Store

_visualisations/
act_spaces/
*.npy
example_images/
spurious_alphas_train/
ImageNetModels/
*.txt
*.zip
